* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #3B3F45;
   height: 100vh;
   width: 100%;
   border: 20px solid white;
   font-family: 'Trebuchet MS', Arial, sans-serif;
}
/* ------header------ */
header {
   background-color: #4A4F56;
   padding: 20px 0 15px 0;
}
.wrapper {
   width: 100%;
   max-width: 535px;
   margin: 0 auto;
}
.header h1, .header-info {
   text-align: center;
   color: #FF8984;
}
.header-info {
   margin-top: 5px;
}
.header h1 {
   font-size: 24px;
}
/* ------header------ */

/* ------main------ */
ul {
   list-style-type: none;
   margin-top: 20px;
}
ul li {
   width: 100%;
   height: 45px;
   color: white;
   font-size: 18px;
   padding: 12px;
   border-top: 3px solid transparent;
   border-bottom: 3px solid transparent;
   transition: all .1s ease-in;
}
.item > p > span {
   font-size: 11px;
}
p > span:before {
   content: '(';
}
p > span:after {
   content: ')';
}
.item:nth-child(odd) {
   background-color: #88839E;
}
.item:nth-child(even) {
   background-color: #7A7593;
}
.item:hover {
   background-color: #625E77;
   border-top: 3px solid white;
   border-bottom: 3px solid white;
}


/* ------main------ */

/* ------footer------ */
.footer-info p:after {
   content: ' :)';
}
section {
   padding: 12px 0px 12px 0px;
   background-color: #4A4F56;
   margin-top: 45px;
}
section > p {
   text-align: center;
   color: #FF8984;
}
/* ------footer------ */

/* .train > input > p {
   display: inline-block;
} */
